.h-wrapper{
    background: var( --lightBlue);
    color: rgb(0, 0, 0);
    margin-top: -1rem;
    margin-bottom: -2rem;
}

.h-container{
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


.h-menu>*:hover{
    cursor: pointer;
}

.menu-icon{
    display: none;
}

@media (max-width:648px) {
    .h-wrapper{
        margin:0;
    }
    .h-container>img{
        margin-left: -14rem;
    }
    .h-menu{
        position: absolute;
        font-weight: 500;
        margin-left: 13.4rem;
        width: 10rem;
        height: 4rem;
        font-size: 0.8rem;
    }
}